<md-sidenav-container fullscreen>
  <md-sidenav class="pango-nav-drawer" #sidenav mode="over">
    <div class="pango-nav-backdrop">
    </div>
    <md-nav-list id="pango-main-links">
      <md-list-item *ngFor="let link of appLinks" [routerLink]="link.path" routerLinkActive="pango-active-link" (click)="sidenav.toggle()">
        <md-icon>{{link.icon}}</md-icon>
        <a md-line > {{ link.label }}</a>
      </md-list-item>
    </md-nav-list>
  </md-sidenav>
  <md-toolbar color="primary">
      <button md-icon-button (click)="sidenav.toggle()">
        <md-icon>menu</md-icon>
      </button>
      <span class="toolbar-spacer"></span>
      <span *ngIf="isLoggedIn()">
        <span fxHide.gt-xs>
          <button  md-icon-button [mdMenuTriggerFor]="accountMenu" href=""><md-icon>more_vert</md-icon></button>
        </span>
        <span fxHide.lt-sm>
          <button md-button > <md-icon>account_box</md-icon> Account </button>
          <button md-button (click)="logout()"> <md-icon>lock</md-icon> Log Out </button>
        </span>
      </span>
  </md-toolbar>
  <md-menu #accountMenu="mdMenu" yPosition="below" xPosition="before">
    <button md-menu-item> <md-icon>account_box</md-icon> Account </button>
    <button md-menu-item (click)="logout()"> <md-icon>lock</md-icon> Log Out </button>
  </md-menu>
  <div class="pango-content">
      <router-outlet></router-outlet>
  </div>
</md-sidenav-container>
